{%  extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <label for="title" style="margin-top: 1%; font-size: 35px; margin-right: 1%;">Title: </label>
        <input type="text" name="text" id="title" autofocus>
        <br>
        <label for="w3review" style="margin-top: 1%; font-size: 35px; margin-right: 1%;">Content: </label>
        <br>
        <textarea id="w3review" name="content" style="height: 500px; width: 800px">
        Your Content
        </textarea>
        <br>
        <input type="submit" value="Save" style="margin-top: 2%;">
    </form>

{% endblock %}